<div class="card">
    <div class="card-header d-flex pr-0">
        <h5 class="card-title mb-0">Startups</h5>
        <% if user_signed_in? %>
            <div class="card-actions ml-auto py-0">
                <%= link_to 'New startup', new_startup_path, class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
    <table class="table mb-0">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @startups.each do |startup| %>
                <tr>
                    <td scope="row"><%= startup.name %></td>
                    <td><%= startup.description %></td>
                    <td>
                        <%= link_to 'Show', startup_path(startup), class: 'btn btn-sm' %>
                        <% if user_signed_in? %>
                            <%= link_to 'Edit', edit_startup_path(startup), class: 'btn btn-sm' %>
                            <%= link_to 'Delete', startup_path(startup),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                class: 'btn btn-sm' %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>